<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="shirt-outline"></ion-icon>
      <ion-label>Shirt</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>User</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Camera</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>