<ion-header>
  <ion-toolbar>
    <ion-title>Create</ion-title>
    <ion-button class="btnCard" [routerLink]="['']">Close</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form padding-right (ngSubmit)="shirtCreate()" #shirtForm="ngForm">
    <ion-item>
      <ion-label position="floating">Image</ion-label>
      <ion-input type="text" name="url" [(ngModel)]="shirtUrl">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="shirtName">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input type="number" name="price" [(ngModel)]="shirtPrice">
      </ion-input>
    </ion-item>
    <ion-button color="primary" type="submit" expand="block">Create</ion-button>
  </form>
</ion-content>