.head {
    display: flex;
    justify-content: space-evenly;
}

.content1 {
    width: 40%;
    height: 60%;
}

.content2 {
    width: 60%;
    height: 40%;
}

.content3 {
    width: 60%;
    height: 40%;
}

.content4 {
    width: 40%;
    height: 60%;
}