<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      User
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="main">
  <ion-content class="content1" color="primary">1</ion-content>
  <ion-content class="content2" color="secondary">2</ion-content>
  <ion-content class="content3" color="warning">3</ion-content>
  <ion-content class="content4" color="danger">4</ion-content>
</ion-content>