<ion-header>
  <ion-toolbar>
    <ion-title>
      NFL SHOP
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-button class="btnCard" [routerLink]="['/create']" expand="block" color="warning">Create</ion-button>
  <ion-list *ngFor=" let shirt of shirts?.Shirt">
    <ion-card>
      <ion-img src="{{shirt.url}}"></ion-img>
      <ion-card-header>
        <ion-card-title>{{shirt.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="prix">{{shirt.price}} $</p>
        <ion-card-content class="buttonDiv">
          <ion-button class="btnCard" expand="block" [routerLink]="['/detail']" (click)="getOneShirt(shirt._id)"
            color="warning">
            Details
          </ion-button>
          <ion-button class="btnCard">Buy</ion-button>
        </ion-card-content>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>