.prix {
    font-size: 30px;
    color: red;
    margin-top: auto;
    margin-bottom: auto;
}

ion-card-content {
    display: flex;
    justify-content: space-evenly;
}

.buttonDiv {
    display: flex;
    flex-direction: column;
}

ion-toolbar {
    color: blue;
}