<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="Camera.takePhoto()">Camera</ion-button>
  <ion-img *ngFor="let element of Camera.picturito" src="{{element.webviewPath}}"></ion-img>
</ion-content>