<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
    <ion-button class="btnCard" [routerLink]="['']">Close</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-img src="{{test?.Shirt.url}}"></ion-img>
    <ion-card-header>
      <ion-card-title>{{test?.Shirt.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="prix"> {{test?.Shirt.price}}$</p>
    </ion-card-content>
  </ion-card>
  <!-- Formulaire -->
  <form padding-right (ngSubmit)="updateShirt(test?.Shirt._id, shirtForm)" #shirtForm="ngForm">
    <ion-item>
      <ion-label position="floating">Image</ion-label>
      <ion-select name="url" id="" [(ngModel)]="shirtUrl">
        <ion-select-option value="{{element.filepath}}" *ngFor="let element of Camera.picturito">
          {{element.filepath}}
        </ion-select-option>
      </ion-select>
    <!-- <ion-input type="text" name="url" [(ngModel)]="shirtUrl">
        </ion-input> -->
    </ion-item>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="shirtName">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input type="number" name="price" [(ngModel)]="shirtPrice">
      </ion-input>
    </ion-item>
    <ion-button color="primary" type="submit" expand="block">Update</ion-button>
  </form>
</ion-content>